.menu-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.add-button {
  border: none;
  border-radius: 5px;
  padding:  0 10px;
  background-color: #ff5252;
  color: white;
  font-size: 16px;
  cursor: pointer;

}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
      margin-right: auto;
}

.menu-bar li {
  margin: 0 10px;
}



.menu-bar a {
  color: #fff;
  text-decoration: none;
}

table {
  width: 70%;
  margin-top: 20px;
  border-collapse: collapse;
  margin-left: auto;
    margin-right: auto;
}

img {
  width: 100px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ddd;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  margin: 0 10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.page-link {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
